@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class = "container, text-center">
    <h1 class = "display-4">Welcome to New Era Web!</h1>
    <p class = "lead">This is a simple ASP.NET Core web application.</p>
    div class = "row">
        <div class = "col-md-6">
            <h2>Product</h2>
            @foreach (var product in Model.Products)
            {
                <div class = "card mb-3">
                    <div class = "card-body">
                        <h5 class = "card-title">@product.Name</h5>
                        <p class = "card-text">@product.Category</p>
                        <p class = "card-text"><strong>Price:</strong> $@product.Price</p>
                    </div>
                </div>
            }
        </div>
</div>
